.wrapper
  = render "products/header"
  %p.users_contents
    = render "users/side_bar"
  %div.main_menu
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn'
  = render "users/main_footer"