*{
    box-sizing:border-box;
}

.main_header{
    height: 100px;
    width: 100vw;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    position: top;
}

.accounts_contents{
    display: flex;
    position: absolute;
    display: inline-block;
    overflow: scroll;

}

.side_bar{
    flex: 0 0 300px;
    width: 300px;
    height: 800px;
    background-color: #f8f8f8;
    position: absolute;
    border-top:solid #272727;

    &__title{
        font-size: 18px;
        margin-top: 10px;
        margin-left: 20px;
        color: #3CCACE;
    }
    
}

a{
    text-decoration: none;
    color: black;
}

.list-group{
    margin-left: 10px;
    font-size: 15px;
    &__content{
      margin-left: 10px;
      margin-top: 5px;
      background-color: #FFFFFF;
      width: 260px;
      height: 25px;
    }
}


.main_menu{
    height:800px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    flex: 1 1 auto;
    margin-left: 300px;
    border-top:solid #272727;
    display: flex;

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

}
.main_footer{
    display: flex;
    flex:auto;
    height: 200px;
    width: 100vw;
    margin-top: 800px;
    background-color: #272727;
}


.logout_container{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.logout-btn{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: #3CCACE;
    height: 100px;
    width: 300px;
    line-height: 100px;
    color: #FFFFFF;
}