
// Place all the styles related to the items controller here.
// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.notification{
  background-color: blue;
  color: white;
  text-align: center;
}

.fixed_btn{
  h1 {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}
.header {
  padding: 0 60px;
  width: 100%;
  &__box {
    padding: 15px 0 0 ;
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
    min-height: 82px;
    &__1 {
      position: relative;
      display: flex;
      align-items: center;
      &__title-box {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        &__title {
          width: 140px;
          display: block;
        }
      }
      &__search-box {
        width: 100%;
        margin-left: auto;
        &__box {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          &__text {
            width: calc(100% - 50px);
            height: 34px;
            padding: 0 0 0 5px;
          }
          &__submit {
            width: 34px;
            height: 34px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
          }
        }
      }
    }
    &__2 {
      font-size: 14px;
      height: 28px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      &__content {
        ul {
          display: flex;
          position: relative;

          li {
            padding-right: 30px;
            a {
              color: #333;
              text-decoration: none;
            }
          }

        }
      }
      &__login {
        ul {
          display: flex;
          li {
            padding-left: 16px;
            a {
              color: #333;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}




.footer-sub {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  background-size: cover;
  background-position: center;
  &__box {
    color: #fff;
    text-align: center;
    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    p {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
  &__app-google {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    &__app {
      margin-top: 10px;
    }
  }
}

.footer {
  background-color: #272727;
  padding: 60px 0;
  text-align: center;
  color: #fff;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      h2 {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    h1 {
      width: 100%;
      vertical-align: bottom;
    }
  }
  p {
    font-size: 14px;
  }
}

