*{
    box-sizing:border-box;
}

.main_header{
    height: 100px;
    width: 100vw;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    position: top;
}

.users_contents{
    display: flex;
    position: absolute;
    overflow: scroll;

}

.side_bar{
    flex: 0 0 300px;
    width: 300px;
    height: 800px;
    background-color: #f8f8f8;
    position: absolute;
    border-top:solid #272727;

    &__title{
        font-size: 18px;
        margin-top: 10px;
        margin-left: 20px;
        color: #3CCACE;
    }
    
}

a{
    text-decoration: none;
    color: black;
}

.list-group{
    margin-left: 10px;
    font-size: 15px;
    &__content{
      margin-left: 10px;
      margin-top: 5px;
      background-color: #FFFFFF;
      width: 260px;
      height: 25px;
    }
}


.main_menu{
    height:800px;
    width: calc( 100vw - 300px);
    background-color: #FFFFFF;
    position: absolute;
    flex: 1 1 auto;
    margin-left: 300px;
    border-top:solid #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_footer{
    display: flex;
    flex:auto;
    height: 200px;
    width: 100vw;
    background-color: #f5f5f5;
}


.logout_container{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.logout-btn{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    background-color: #3CCACE;
    height: 100px;
    width: 300px;
    line-height: 100px;
    color: #FFFFFF;
}

.menu {
    width: calc( 100vw - 300px);
    background-color: #FFFFFF;
    position: absolute;
    flex: 1 1 auto;
    margin-left: 300px;
    border-top:solid #272727;
    align-items: center;
    padding:20px 100px;
    .item {
        padding: 12px 4%;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .like {
        display: flex;
        .like__List {
            margin-left: 10px;
            &__name {
                background-color: #f8f8f8;
                text-align: center;
                font-size: 20px;
            }
            &__price {
                background-color: #f8f8f8;
                text-align: center;
                font-size: 15px;
            }
        }
    }
}