= render 'products/header'

.wrapper
  %ul.main__content
    %li.product__check__container 
      .product__check__title 購入が完了しました！
    %li.product__check__container__01
      .left__container
        = image_tag 'pict/flower_hyacinth.png', height: '90px', width: '90px'
      .right__container
        .product__title  ヒヤシンス
        .product__price__mini ¥30000(送料込み) 
        %br/
    .to_buy_btn
      = link_to root_path do
        トップページへ戻る

= render 'products/footer'


