.wrapper
  = render "accounts/main_header"
  %p.accounts_contents
    = render "accounts/side_bar"
  %div.main_menu
    = link_to "ログアウト", "#", method: :delete, class: 'logout-btn'
  = render "accounts/main_footer"